<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container" id="container">
      <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >
  

      <h3 align=center style='text-align:center' class="mb-5"><span style='color:#000099'>Orienteering Australia Elite Ranking Scheme</span></h3>
  
      <h2>Information about this site</h2>
      <p>This page has been created for the purpose of maintaining a current
  ranking list of Australian elite orienteers. </p>
      <p>This list is objective, meaning that orienteers are ranked according to a
  sophisticated <a
  href="http://www.orienteering.asn.au/Administration/op_manual/gfolder/opmanpdfs/218EliteRankingScheme.pdf">scheme</a>,
  and rankings are not influenced by the opinion of anyone. </p>
      <p>In summary, an orienteers ranking is based on their best 5 results over
  the last 12 months. Points for each race are allocated based on the
  orienteers performance, the spread of times, and the strength of the field. </p>
      <p>Rankings include points obtained from overseas World Ranking Events. This
  enables overseas based Australians to obtain a ranking. Considerable effort
  has been taken to calibrate these WRE
  points with the points obtained from the Australian Scheme to make the scheme
  fair. </p>
      <p>Finally, if you have any question, comments, or areas for improvement,
  please contact me by using the mail link below.</p>
  </td>
 </tr>
</table>

</div>
{% include "footer.html" %}
</body>

</html>
