<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >
        
        <h4>{{ athlete.full_name }}</h4>

        <div class="m-2 p-2">
            <b>Category</b>
            <p>
              {% set current_year = datetime.utcnow().year %}
              {% set age = current_year - athlete.yob %}
              {% if age < 21 %}
                Junior 
              {% endif %}
              {% if athlete.gender == 'M' %}
                Men
              {% elif athlete.gender == 'F' %}
                Women
              {% endif %}
            </p>
            <b>Year of birth</b>
            <p>{{ athlete.yob }}</p>
            <b>State</b>
            <p>{{ athlete.state }}</p>
            <b>Club</b>
            <p>{{ athlete.club_name }}</p>
            <b>Latest ranking event date</b>
            <p>{{ athlete.last_event_date }}</p>
        </div>

        <h4 align=center style='text-align:center' class="mb-5"><span style='color:#000099'>Results in ranking races</span></h4>
  
        <div class="table-responsive">
          <table id="resultsTable" class="table table-hover table-striped">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Event</th>
                  <th>Class</th>
                  <th class="text-end">Place</th>
                  <th class="text-end">Time</th>
                  <th class="text-end">Points</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                {% for result in results %}
                <tr>
                  <td class="text-nowrap">{{ result['date']|_jinja2_filter_datetime }}</td>
                  <td>{{ result['long_desc'] }}</td>
                  <td>{{ result['class'] }}</td>
                  <td class="text-end">{% if result['race_time'] | is_valid_time_format %}{{ result['place'] }}{% endif %}</td>
                  <td class="text-end">{{ result['race_time'] }}</td>
                  <td class="text-end">{{ result['race_points'] |int }}</td>
                  <td> 
                    <a href="/event/{{result['short_file']}}" type="button" class="btn btn-outline-primary">Details</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

    </div>
    {% include "footer.html" %}
  </body>
</html>
