<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >
        
        <h4>{{ athlete.full_name }}</h4>

        <div class="m-2 p-2">
            <b>Category</b>
            <p>
              {% set current_year = datetime.utcnow().year %}
              {% set age = current_year - athlete.yob %}
              {% if age < 21 %}
                Junior 
              {% endif %}
              {% if athlete.gender == 'M' %}
                Men
              {% elif athlete.gender == 'F' %}
                Women
              {% endif %}
            </p>
            <b>Year of birth</b>
            <p>{{ athlete.yob }}</p>
            <b>State</b>
            <p>{{ athlete.state }}</p>
            <b>Club</b>
            <p>{{ athlete.club_name }}</p>
            <b>Latest ranking event date</b>
            <p>{{ athlete.last_event_date }}</p>
        </div>

        <a href="/athlete/{{ athlete.id }}/edit" type="button" class="btn btn-outline-primary">Edit athlete name</a>

    </div>
    {% include "footer.html" %}
  </body>
</html>
