<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >

    
        <h4>Upload events from Excel</h4>
        <form action="/events/import" method="post">
            <div class="mb-2">
            <label>Full path of Excel file</label><br>
            <input type="text" name="path_file" placeholder='s:\rankings\source\2023\races.xls'>
            </div>

            <div class="mb-2">
            <label>Worksheet</label><br>
            <input type="text" name="sheet" placeholder='races'>
            </div>

            <div class="mb-2">
                <label>Start Row</label><br>
                <input type="text" name="start" placeholder='1'>
            </div>
    
            <div class="mb-2">
                    <label>End Row</label><br>
                    <input type="text" name="finish" placeholder='5'>
            </div>
        
            <input type="submit">

        </form>
    </div>
    {% include "footer.html" %}
  </body>
</html>