<div class="container">
    <footer class="my-1">
      <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Rankings</a></li>
        <li class="nav-item"><a href="/events" class="nav-link px-2 text-body-secondary">Events</a></li>
        <li class="nav-item"><a href="/athletes" class="nav-link px-2 text-body-secondary">Athletes</a></li>
        <li class="nav-item"><a href="/stats" class="nav-link px-2 text-body-secondary">Stats</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link px-2 text-body-secondary">Admin</a></li>
      </ul> -->
      <p class="text-center text-body-secondary">&copy; 2025 Orienteering Australia. Developed by Bruce Arthur</p>
    </footer>
  </div>
  
  <div class="b-example-divider"></div>
    