<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}

    <meta name=description content="A current ranking list of Australian Elite Orienteers.  This list is used by the OFA selectors to determine the official Australian Rankings">
    <meta name=keywords content="orienteering, rankings, Australia, OFA, elite, easter, champs, championships, ratings, seedings, sport">

  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container" id="container">
      <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >
  

      <h3 align=center style='text-align:center' class="mb-5"><span style='color:#000099'>Rankings</span></h3>
  
      <div>
        {% for athlete in athletes %}
          {% include 'athleteitem.html' %}
        {% endfor %}
      </div>
      <br>

</div>
{% include "footer.html" %}
</body>

</html>
