<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >

    
        <h4>Upload race times only from Excel</h4>
        <form action="/race_times/new" method="post">
            <div class="mb-2">
            <label>Full path of Excel file</label><br>
            <input type="text" name="path_file" placeholder='/path/file.xls'>
            </div>

            <div class="mb-2">
            <label>Worksheet</label><br>
            <input type="text" name="sheet" placeholder='24cam21e'>
            </div>

            <input type="submit">

        </form>
    </div>
    {% include "footer.html" %}
  </body>
</html>