<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >

    
        <h4>Upload races from old AUS Rankings site from </h4>
        <form action="/races/year_old_site" method="post">
            <div class="mb-2">
            <label>Enter year</label><br>
            <input type="text" name="year" placeholder='xxxx'>
            </div>

            <input type="submit">

        </form>
    </div>
    {% include "footer.html" %}
  </body>
</html>