<!DOCTYPE html>
<html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container" id="container">
        <img class="img-fluid" id="banner" src="/static/IMG_3354.JPG" >

            <h3>Update Submitted</h3>
            <p>Your update for <b>{{athlete['full_name']}}</b> has been submitted</p>

            <b>Full Name</b>
            <div class="mb-2">{{update['full_name']}}</div>

        </div>
        {% include "footer.html" %}
    </body>
</html>